$color-bg: #f3f3f3;
$color-bg-tour: #fff;
$color-text: #adadad;
$color-text-nav: #fff;
$color-text-main: #fff;
$color-btn: #332f36;
$color-btn-bg: #fff;
$color-btn-invert: #332f36;
$color-bullets: #332f36;
$color-nav-btn-border: #fff;
$color-text-header: #332f36;
$color-text-copyright: #adadad;
$color-social-icon: #fff;
$color-facebook: #4269bb;
$color-twitter: #20adff;
$color-social-border: #fff;