@font-face {
    font-family: 'RealistNarrow-SemiLight';
    src: url(fonts/realistnarrow-semilight.eot);
    src: url(fonts/realistnarrow-semilight.woff) format('woff'),
         url(fonts/realistnarrow-semilight.ttf) format('truetype'),
         url(fonts/realistnarrow-semilight.svg) format('svg');
    font-family: 'RealistNarrow-Light';
    src: url(fonts/realistnarrow-light.eot);
    src: url(fonts/realistnarrow-light.woff) format('woff'),
         url(fonts/realistnarrow-light.ttf) format('truetype'),
         url(fonts/realistnarrow-light.svg) format('svg');
}

